.display-area {
	background-color: #ecf0e0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
	width: 205px;
	margin-bottom: 30px;
	margin-top: 20px;
	border: 1px solid black;
	font-family: sans-serif;
	font-size: 30px; 
}

button {
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px;
	width: 40px;
	margin: 5px;
	font-family: sans-serif;
	font-size: 15px; 
}

.row {
	text-align: right;
	width: 212px;
}

.digit-button {
	background-color: #ecf0e0;
}

.digit-button:hover {
	background-color: #9da879;
}

.op-button {
	background-color: #fdeadb;	
}

.op-button:hover {
	background-color: #b37e56; 
}


